.modal {
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-items: center;
    align-items: center;
}

.modal-content {
    width: 500px;
    background-color: #fff;
}

.modal-title {
    margin: 0;
}

.modal-form {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.modal-actions {
    padding: 10px;
}